.main {
  width: 100vw;
  position: relative;
  padding: 50px 0px;

  @include media-query(sm,max) {
    padding: 10px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    position: relative;
    color:#585858;

    &__logo{
      display: flex;
      flex:1;
      flex-direction: row;
      align-items: center;

      &__icon {
        position:relative;
        left:0;
        display: flex;
        width: 20px;
        height: 170px;
        animation: icon-animate 5s ease-in forwards;

         @keyframes icon-animate {
             100%{left: 50%;transform: translateX(-50%) rotate(720deg);
               width: 130px;
             }
         }

        polygon {
         fill:#585858;
        }

        .line {
          fill: none;
          stroke: #585858;
          stroke-width: 3px;
          stroke-dasharray: 800;
          stroke-dashoffset:790;
          animation: offset 5s 5s ease-in  forwards;
        }

        @keyframes offset {
          100% {
            stroke: white;
            stroke-dasharray: 1060;
          }
        }
      }

      &__text {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        animation: icon-text 5s 5s ease  forwards;
        text-shadow: 1px 1px 5px rgba(205, 179, 179, 0.87);
       }

      @keyframes icon-text {
        100%{ opacity: 1;}
      }
    }

    &__title {
      display: flex;
      flex:1;
      position:relative;
      left:50%;
      padding: 15px;
      max-width: 80%;
      transform: translateX(-50%);
      font-size: 3.3rem;

      @include media-query(sm,max) {
        font-size: 2rem;
        padding: 10px;
      }
    }

    &__sub-title {
      display: flex;
      flex:1;
      position:relative;
      left:50%;
      transform: translateX(-50%);
      max-width: 80%;
      text-align: justify;
      font-weight: 200;
      font-size:1.5rem;
      padding: 15px;

      @include media-query(sm,max) {
        font-size: 1rem;
        padding: 10px;
      }
    }

    &__button-menu {
      position: fixed;
      cursor: pointer;
      width: 40px;
      height: 40px;
      z-index: 100;
      right: 40px;
      top: 22px;


      .close {
        position: fixed;
        cursor: pointer;
        z-index: 100;
        background-color: #333;
        width: 40px;
        height: 4px;
        top:48px;

        &:before {
          content: '';
          cursor: pointer;
          position: fixed;
          background-color: #333;
          width: 40px;
          height: 4px;
          transition: transform 1s;
          transform: translateY(-200%);
        }

        &:after {
          content: '';
          cursor: pointer;
          position: fixed;
          background-color: #333;
          width: 40px;
          height: 4px;
          transition: transform 1s;
          transform: translateY(200%);
        }

        &--active {
          transition: height 0.5s;
          height: 0;

          &:before {
            transition: transform 1s;
            transform: rotate(50deg);
          }
          &:after {
            transition: transform 1s;
            transform: rotate(-50deg);
          }
        }
      }
    }
  }

  &__content {
    position: absolute;
    display: flex;
    left:50%;
    transform: translateX(-50%);

    &__container {
      position: relative;
      display: flex;

      .row {
        position: relative;
        display: flex;
        flex-direction: row;

      }
    }
  }
}
