.main {
  width: inherit;
  padding-top: 50px;

  &__header {
    display: flex;
    flex-direction: column;
    color:#585858;
    width: inherit;

    &__logo{
      display: flex;
      flex:1;
      flex-direction: row;
      align-items: center;

      @include media-query(xs) {
        flex-direction: column;
        align-items:baseline;
      }

      &__icon {
        position:relative;
        left:0;
        display: flex;
        width: 20px;
        height: 170px;
        animation: icon-animate 2s ease-in forwards;

        polygon {
         fill:#585858;
        }

        .line {
          fill: none;
          stroke: #585858;
          stroke-width: 3px;
          stroke-dasharray: 800;
          stroke-dashoffset:790;
          animation: offset 2.5s 1s ease-in  forwards;
        }
      }

      &__text {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        animation: icon-text 5s 1.5s ease  forwards;
        text-shadow: 1px 1px 5px rgba(205, 179, 179, 0.87);
       }
    }

    &__title {
      display: flex;
      flex:1;
      position:relative;
      left:50%;
      padding: 15px;
      max-width: 80%;
      transform: translateX(-50%);
      font-size: 3.3rem;

      @include media-query(md,max) {
        font-size: 4vw;
        padding: 10px;
        max-width: 90%;
        padding: 5px;
      }
    }

    &__sub-title {
      display: flex;
      flex:1;
      position:relative;
      left:50%;
      transform: translateX(-50%);
      max-width: 80%;
      text-align: justify;
      font-weight: 200;
      font-size:1.5rem;
      padding: 15px;

      @include media-query(md,max) {
        font-size: 1rem;
        padding: 10px;
        max-width: 90%;
        padding: 5px;
      }
    }
  }

  &__content {
    display: flex;

    &__container {
      display: flex;
      margin: 0 auto;
    }
  }

  &__footer {
    background-color: #f6f6f6;
    text-align: center;
    font-size: 1rem;
    color:#585858;
    padding: 3em;
  }
}

@keyframes icon-text {
  100%{ opacity: 1;}
}

@keyframes offset {
  100% {
    stroke: white;
    stroke-dasharray: 1060;
  }
}

@keyframes icon-animate {
    100% {
      left: 50%;transform: translateX(-50%) rotate(720deg);
      width: 130px;
    }
}
