
/* variable for media-query mixin*/
$sizes: (
	xs: 400px,
<<<<<<< HEAD
	sm: 776px,
=======
	sm: 600px,
>>>>>>> master
	md: 992px,
	gl: 1200px
);

/*variable for work-page*/
$margin-block-work: 0.5em;

/*variable for grid*/
$grid-offsets: (
	sm:4px,
	md:12px,
	gl:20px
);

/*variable for form*/
$form-offset: 10px;

/*variable for tab number*/
$tab: 3;

/*variation of colors*/
$colors: (
  1: #f2849e,
  2:#7ecaf6,
  3: #7bd0c1,
  4: #c75b9b,
  5: #ae85ca,
	6: #f2849e,
  7:#7ecaf6,
  8: #7bd0c1,
  9: #c75b9b,
  10: #ae85ca,
	11: #f2849e,
  12:#7ecaf6
);
