.contact {
  display: flex;
  flex:1;
  background-color: #f6f6f6;
   width: 100%;

  &__content {

    &__row {

      &__input {

      }
    }
  width: inherit;
  padding: 4em;
  justify-content: space-between;

  @include media-query(md,max) {
   flex-direction: column;
   padding: 1em;
  }

  &__social {
    display: flex;
    flex:1;
    max-width: 33.333%;
    flex-direction: column;

    @include media-query(md,max) {
     max-width:100%;
    }

    &__title {
      @include media-query(sm) {
       text-align: center;
      }
    }

    &__icons {
      font-size: 1.7rem;
      display: flex;
      flex-wrap: wrap;
      max-width: 80%;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.8em;
        background-color: transparent;
        border: solid 1px #c9c9c9;
        border-radius: 4px;
        width: 2em;
        height: 2em;
        text-align: center;
        line-height: 2.65em;
        color: #585858;
        text-decoration: none;


        &:hover {
          transition: color .5s ease, border-color .5s ease ;
          color:#f2849e;
          border-color:#f2849e;
        }
      }
    }
  }

  &__footer {
      color:inherit;
  }

  .form {
    width: 66.6666%;

    @include media-query(md,max) {
      width: 100%;
    }
  }
}
