.portfolio {
  justify-content: center;
  position: relative;
  left:0;
  transform: rotateX(-50%);
  width: #{map-get($sizes,gl)};

  @include media-query(gl,max) {
    width: #{map-get($sizes,md)};
  }

  @include media-query(md,max) {
    width: #{map-get($sizes,sm)};
  }
}
