.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__block {
    position: relative;
    display: flex;
    margin:20px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    animation: grown .5s ease-out;

    @include media-query(md) {
      margin:10px;
    }

    @include media-query(xs) {
      width: 100%;
    }


    @for $i from 1 through 12 {
        &:nth-child(#{$i}):before {
         background-color:map-get($colors,$i);
        }
      }





    &__text {
      position: absolute;
      display: block;
      width: 100%;
      text-align: center;
      color:white;
      left: 50%;
      transition: top 1s cubic-bezier(.36,.07,.19,.97);
      top: 55%;
      transform: translate(-50%, -50%);
      z-index: 2;

      @include media-query(sm, max) {
        top: 40%;
      }

      h3 {
        font-size: 1.5rem;
      }

      p {
        transition: opacity 1s cubic-bezier(.36,.07,.19,.97);
        opacity: 0;

        @include media-query(sm, max) {
          opacity: 1;
        }
      }

      @include media-query(xs) {
        width: 100%;
      }
    }

    &__image {
      position: relative;
      margin: 0 auto;
      display: flex;
      overflow: hidden;

      @include media-query(xs) {
        width: 100%;
      }
    }

    @include media-query(sm, min) {

    &:hover {
      transition: text-shadow 0.5s cubic-bezier(.36,.07,.19,.97), transform 0.5s cubic-bezier(.36,.07,.19,.97),box-shadow 0.5s cubic-bezier(.36,.07,.19,.97);
      text-shadow: 1px 5px 5px rgba(57, 59, 62, 0.95);
      transform: scale(1.1);
      box-shadow: 3px -1px 4px rgba(141,141,146,0.54);


      &:before {
        transition: opacity 1s cubic-bezier(.36,.07,.19,.97);
        opacity: 0;
      }

      &:after {
        transition: opacity 1s cubic-bezier(.36,.07,.19,.97);
        opacity: 0;
      }

      .grid__block__text {
        transition: top 1s cubic-bezier(.36,.07,.19,.97);
        top: 40%;

         p {
           transition: opacity 1s cubic-bezier(.36,.07,.19,.97);
           opacity: 1;
         }
      }
    }

          &:before {
            position: absolute;
            content:'';
            display:block;
            z-index: 1;
            width: 100%;
            height: 100%;
            opacity: 0.8;

            @include media-query(xs) {
              width: 100%;
            }
          }

          &:after {
            position: absolute;
            content:'';
            display:block;
            background-image: url('../img/background.png');
            background-position: center;
            z-index: 1;
            width: 100%;
            height: 100%;
            opacity: 0.2;

            @include media-query(xs) {
              width: 100%;
            }
          }
        }
  }
}

@keyframes grown {
  0% {
      transform: scale(0);
  }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}
