.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  border-top: 0;
  border-left: 0;
  background-color: rgba(123, 123, 123, 0.40);
  z-index: 100;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition:opacity .5s;
  opacity: 0;

  &--active {
    transition:opacify .5s;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    opacity: 1;

    .menu__content {
      transition:transform .5s;
      transform: translateX(0%);

      &__list {
        transition:width 1s;
        width: 100%;
      }
    }
  }

  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #585858;
    padding: 40px;
    width: 410px;
    color:white;
    height: 100%;
    right: 0;
    transition:transform .5s;
    transform: translateX(100%);

    &__title {
      text-transform: uppercase;
      padding-left: 10px;

      h2 {
        font-size: 20px;
        letter-spacing: 7px;
      }
    }

    &__list {
      position: absolute;
      width: 0%;
      padding-top: 40px;
      list-style: none;

      &__item {
        position: relative;
        padding-top:5px;
        padding-bottom: 30px;
        padding-left: 10px;
        width: 100%;
        box-shadow: inset 0px -0.5px 0px 0px rgba(255, 255, 255, 0.30);
        cursor: pointer;

        &:hover {
          transition: background-color .5s;
          background-color: hsla(40,1%,56%,0.10);
        }

        a {
          position: relative;
          text-decoration: none;
          color:white;
          font-size: 18px;
          font-weight: 200;

          &:hover {
            color: #f2849e;
          }
        }

      }
    }
  }
}
